.f-l-l{
	float: left;
}
.body-wrap{
	width: 1200px;
	margin: 0 auto;
	/*background-color: #fff;*/
	position: relative;
}
.pc-wrap{
	width: 100%;
	height: 800px;
	background: url(../images/pc_bg.jpg) no-repeat;
}
.app-wrap{
	width: 100%;
	height: 800px;
	background: url(../images/app_bg.jpg) no-repeat;
}
.pc-ad-list{
	width: 1200px;
	margin: 0 auto;
}
.pc-ad-title{
	margin: 0 auto;
	width: 813px;
}
.pc-ad-lists{
	margin-right: 20px;
	border: #fff solid 1px;
	height: 80px;
	transition: all 0.1s ease-in-out 0.1s;
	opacity: 0.8;
	position: relative;
	overflow: hidden;
}
.pc-ad-lists:hover{
	opacity: 1;
	transform: translateY(-5px);
	box-shadow:  0 0 30px rgba(255,255,255,0.8);
}
.pc-ad-lists img{
	transition: all 0.5s ease-out 0s;
	
}
.pc-ad-lists:hover img{
	transform: scale(1.2);
}
.pc-ad-lists>a{
	display: inline-block;
	height: 80px;
}
.pc-ad-list{
	width: 1140px;
	display: block;
	margin: 0 auto;
}


.app-list{
	width: 1200px;
	margin: 0 auto;
}
.app-ad-title{
	width: 430px;
	height: 600px;
	padding-top: 150px;
}
.app-ad-list-left,.app-ad-list-right{
	width: 385px;
	height: 600px;
}




/*各个广告页面*/
.ad-show-head{
	width: 70px;
	height: 30px;
	background-color: #f00;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
}
.ad-show-hide{
	background-color: #FFFFFF;
	
}
.ad-show-dec{
	padding: 5px;
	font-size: 14px;
}
.ad-show-dec h2{
	color: #CB7047;
	font-size: 16px;
	line-height: 24px;
}

.com-dec{
	font-size: 14px;
	color: #3498F0;
	line-height: 20px;
}
.ad-show-hide {
	opacity: 0;
}
.ad-show-list{
	position: absolute;
}
.ad-1-1 .ad-show-hide{
	width: 150px;
}
.ad-1-1{
	top: 10px;
	left: 979px;
}
.ad-1-2{
	top: 164px;
	left: 249px;
}
.ad-1-3{
	top: 1670px;
	left: -72px;
}
.ad-6-1{
	top: 658px;
	left: 90px;
}
.ad-7-1{
	top: 452px;
	left: 441px;
}
.ad-7-2{
	top: 877px;
	left: 160px;
}




/*app广告*/

.app-ad-list-left,.app-ad-list-right{
	position: relative;
}
.app-ad-lists{
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	border: #ccc 1px solid;
	width: 120px;
	height: 120px;
	transition: all 0.2s ease-in-out 0s; 
}

.app-ad-lists>a{
	display: inline-block;
	text-align: center;
	line-height: 120px;
	font-size: 16px;
	color: #fff;
	width: 120px;
	height: 120px;
	
	
}
.app-ad-lists:hover{
	box-shadow: 0 0 40px rgba(255,255,255,1);
}
.app-ad-1{
	top:100px;
	right: 0;
	background-color: #CB29B4;
}
.app-ad-2{
	top:300px;
	right: 0;
	background-color: #1E18C3;
}
.app-ad-3{
	top:500px;
	right: 0;
	background-color: #FF9531;
}
.app-ad-4{
	top:100px;
	left: 0;
	background-color: #6CD65F;
}
.app-ad-5{
	top:300px;
	left: 0;
	background-color: #B9A795;
}
.app-ad-6{
	top:500px;
	left: 0;
	background-color: #3ED1E3;
}


.body-wrap-app{
	width: 1200px;
	margin: 0 auto;
	/*height: 1300px;*/
	background-color: #dedede;
}
.app-ad-warp{
	width: 320px;
	height: 568px;
	position: relative;
	margin: 100px 140px;
}
.app-ad-warp-1{
	background: url(../images/app-ad-1.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-2{
	 background: url(../images/app-ad-2.jpg);
	 -webkit-background-size:cover;
	 background-size:cover;
 }
.app-ad-warp-3{
	background: url(../images/app-ad-3.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-4{
	background: url(../images/app-ad-4.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-5{
	background: url(../images/app-ad-5.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-6{
	background: url(../images/app-ad-6.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-7{
	background: url(../images/app-ad-7.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-8{
	background: url(../images/app-ad-8.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-9{
	background: url(../images/app-ad-9.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-11{
	 background: url(../images/app-ad-11.jpg);
	 -webkit-background-size:cover;
	 background-size:cover;
 }
.app-ad-warp-12{
	background: url(../images/app-ad-12.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-13{
	background: url(../images/app-ad-13.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-14{
	background: url(../images/app-ad-14.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}
.app-ad-warp-15{
	background: url(../images/app-ad-15.jpg);
	-webkit-background-size:cover;
	background-size:cover;
}


.app-ad-1-1{
	left: -70px;
	top: 426px;
}
.app-ad-1-2{
	left: -70px;
	top: 426px;
}
.app-ad-2-1{
	left: -70px;
	top: 452px;
}
.app-ad-2-2{
	left: -70px;
	top: 413px;
}
.app-ad-2-3{
	left: -70px;
	top: 374px;
}
.app-ad-2-4{
	 left: -70px;
	 top: 420px;
 }
.app-ad-3-1{
	 left: -70px;
	 top: 460px;
 }
.app-ad-3-2{
	left: -70px;
	top: 460px;
}
.app-ad-3-3{
	left: -70px;
	top: 410px;
}
.app-ad-4-1{
	left: -70px;
	top: 272px;
}
.app-ad-4-2{
	left: 60px;
	top: 100px;
}
.app-ad-5-1,
.app-ad-5-2,
.app-ad-5-3{
	left: -70px;
	top: 438px;
}
.app-ad-warp .ad-show-dec{
	width:310px;
}
.app-ad-4-2  .ad-show-hide{
	width: 200px;
}


.app-ad-warp .ad-show-img img{
	width:320px;
	height:142px;
}
.app-ad-2-1 .ad-show-img img,
.app-ad-2-2 .ad-show-img img,
.app-ad-2-3 .ad-show-img img,
.app-ad-3-1 .ad-show-img img,
.app-ad-3-2 .ad-show-img img,
.app-ad-3-3 .ad-show-img img{
	height:110px;
}
.app-ad-2-4 .ad-show-img img{
	height:80px;
}
.app-ad-4-1 .ad-show-img img{
	 width: 156px;
	 height: 40px;
 }
.app-ad-4-2 .ad-show-img img{
	width: 200px;
	height: 151px;
}
.app-ad-5-1 .ad-show-img img,
.app-ad-5-2 .ad-show-img img,
.app-ad-5-3 .ad-show-img img{
	width: 320px;
	height: 80px;
}

.app-ad-4-2 .ad-show-dec p{
	width:200px;
	line-height: 20px;
}
